@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
	margin: 0px;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Poppins", sans-serif;
	flex-direction: column;
}

main {
	flex-grow: 1;
	width: 100%;
	padding: 2rem 1rem 1rem;
}

.color-container {
	position: relative;

	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: flex-start;
}

.current {
	border: 7px solid #87f5fb;
}

button {
	border-radius: 0.4rem;
	height: 2.2rem;
	border: none;
	box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.2);
}

button:hover {
	cursor: pointer;
}

.color-container > button {
	margin: 5px auto;
	color: white;
	font-weight: 600;
	width: 3.5rem;
}

.color-container > .white,
.color-container > .yellow {
	color: black;
}

h1 {
	font-size: 1.5rem;
}

.panel {
	padding: 1rem 1rem 1rem 1rem;
	background-color: #07beb8;
	position: relative;
	justify-content: space-evenly;
	font-size: 1rem;
	text-align: center;
	width: 100%;
}

.panel > button {
	width: 40%;
	margin: 10px;
}

.yellow {
	background-color: #fff001;
}

.red {
	background-color: #ff0101;
}

.blue {
	background-color: #0101fd;
}

.white {
	background-color: #ffffff;
}

.black {
	background-color: #303030;
}

.canvas {
	display: grid;
	width: 100%;
	height: 400px;
	margin: 0 auto;
	max-width: 600px;
	border: 10px solid #303030;
	background-color: #303030;
	gap: 10px;
	grid-template-areas:
		"one one two three four five"
		"one one two seven six five"
		"eight nine nine seven six five"
		"eight ten twelve twelve thirteen thirteen"
		"eleven ten twelve twelve fourteen fourteen";
}

.hide {
	display: none;
}

.one {
	grid-area: one;
	background-color: lightgray;
}

.two {
	grid-area: two;
	background-color: lightgray;
}

.three {
	grid-area: three;
	background-color: lightgray;
}

.four {
	grid-area: four;
	background-color: lightgray;
}

.five {
	grid-area: five;
	background-color: lightgray;
}

.six {
	grid-area: six;
	background-color: lightgray;
}

.seven {
	grid-area: seven;
	background-color: lightgray;
}

.eight {
	grid-area: eight;
	background-color: lightgray;
}

.nine {
	grid-area: nine;
	background-color: lightgray;
}

.ten {
	grid-area: ten;
	background-color: lightgray;
}

.eleven {
	grid-area: eleven;
	background-color: lightgray;
}

.twelve {
	grid-area: twelve;
	background-color: lightgray;
}

.thirteen {
	grid-area: thirteen;
	background-color: lightgray;
}

.fourteen {
	grid-area: fourteen;
	background-color: lightgray;
}

@media (min-width: 768px) {
	body {
		flex-direction: row-reverse;
	}

	main {
		margin: 0px 3rem;
	}

	h1 {
		font-size: 1.6rem;
	}

	h3 {
		font-size: 1.4rem;
	}

	.panel,
	.color-container {
		flex-direction: column;
	}

	.panel {
		width: 25rem;
		height: 100%;
		padding: 2rem 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.panel > button {
		width: 100%;
		height: 4rem;
		font-size: 1.1rem;
	}

	.color-container {
		margin: 1rem 0px;
		height: 20rem;
		width: 100%;
		margin-top: 0px;
	}

	.color-container > button {
		width: 100%;
		height: 5rem;
		width: 100%;
		height: 3.2rem;
		font-size: 1.2rem;
	}

	.canvas {
		height: 500px;
		max-width: 800px;
	}
}
